

body {
    background-color: #0F1626;
    text-align: center;
}

.title {
    color: rgb(250, 204, 212);
    font-size: 650%;
    font-family: 'Fredoka One', cursive;
    text-shadow: 3px 3px 10px red;

}

button {
    background-color: #0F1626;
    border-radius: 0;
    border: 0;
}
.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Fredoka One', cursive;
    line-height: 2;
    font-weight: 900;
    color: rgb(219, 68, 93);
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 180px;
    height: 170px;
    text-align: center;
    margin: 10px;
    background-color:white;
    
  }
.row1{
    position: relative;
}
.row2{
    position: relative;
    top:40px;
}
.q {
    background-image: url("./images/tom1.png");
    color: rgb(55, 45, 126);
}
.w {
    background-image: url("./images/tom3.png");
    color: rgb(55, 45, 126);
}
.o {
    background-image: url("./images/tom4.png");
    color: rgb(55, 45, 126);
}
.p {
    background-image: url("./images/tom2.png");
    color: rgb(55, 45, 126);

}
.d {
    background-image: url("./images/hi-hat.png");
    background-position: -100px;
}
.k {
    background-image: url("./images/snare.png");
    width: 160px;
}
.f{
    background-image: url("./images/crash.png");
    background-position: center;
}
.j{
    background-image: url("./images/crash.png");
    background-position: center;
}
.space {
    background-image: url("./images/kick.png");
    width: 300px;
    position: relative;
    top: -40px;
}

.pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
}



footer {
    font-family: 'Fredoka One', cursive;
    color: rgb(250, 204, 212);
    padding-top: 50px;
}

